* {
    margin: 0;
    padding: 0;
}

head {
    background-color: red;
    width: 100vh;
    height: 20%;
}

h1 {
    background-color: red;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aquamarine;

}

div {
    width: 50%;
    height: 100%;
}

.imagen {
    width: 250px;
    height: 250px;
    background-color: rebeccapurple;
}

#text-area {
    width: 250px;
    height: 250px;
    background-color: rebeccapurple;
    text-align: left;
    vertical-align:text-top;   
}

footer {
    width: 100vw;
    background-color: aqua;
}