html {
  box-sizing: border-box;
  font-size: 62.5%;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*:after {
  box-sizing: inherit;
}

.bold {
  font-weight: bold;
}

.flex {
  display: -webkit-flex;
  display: flex;
}

.grid {
  display: grid;
}

.exclamation {
  border-radius: 50%;
  color: #e8ecf8;
  padding: 0.35rem 1rem;
  background-color: #757882;
}

.padding-user {
  padding: 0;
}

.padding-result {
  padding: 3.2rem;
}

.display-none {
  display: none;
}

@media (min-width: 1080px) {
  .padding-user {
    padding: 3.2rem;
  }
}

.logo {
  width: 2.5rem;
  height: auto;
  filter: invert(100%);
}

main {
  height: 90vh;
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
  grid-template-rows: 2fr 1fr;
  gap: 3rem;
}

.user {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

textarea {
  font-size: 1.75rem;
  width: 90%;
  display: block;
  background-color: unset;
  border: none;
  margin: 1.5rem auto;
  padding: 3rem 0;
  resize: none;
  height: 65%;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  font-weight: bolder;
  color: #cccccc;
}

*:disabled {
  background-color: transparent;
  color: #000;
  cursor: text;
}

label {
  font-size: 1.5rem;
  color: #757882;
}

.flex-button {
  gap: 2rem;
  padding-top: 2rem;
  justify-content: space-around;
}

button {
  font-size: 1.75rem;
  border-radius: 2.4rem;
  padding: 0.75em 0;
  width: 100%;
  cursor: pointer;
}

.button-blue {
  color: #cccccc;
  background-color: #2ecc71;
  border: none;
}

.button-grey {
  color: #cccccc;
  background-color: unset;
  border: 1px solid #2ecc71;
}

@media (min-width: 1080px) {
  main {
    grid-template-rows: none;
    grid-template-columns: 2fr 1fr;
  }
  .logo {
    width: 3.5rem;
  }
  textarea {
    font-size: 2.5rem;
    margin: 3rem auto;
    height: 80%;
  }
  button {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  main {
    width: 75%;
  }
}

.translation {
  z-index: 10;
  flex-direction: column;
  border-radius: 3.2rem;
  background-color: #808080;
}

.not-found {
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found img {
  display: none;
}

.empty {
  font-size: 2rem;
}

.empty-legend {
  font-size: 1.5rem;
}

.text-found {
  justify-content: space-between;
}

@media (min-width: 1080px) {
  .not-found img {
    width: 75%;
    display: unset;
  }
}

footer {
  font-size: 1.75rem;
  height: 10vh;
  text-align: center;
}

.icons {
  font-size: 2.5rem;
  gap: 1.5rem;
  padding-top: 1rem;
  justify-content: center;
}

.icons i {
  text-shadow: 2px 2px 4px #fff;
  color: #000;
  transition: all 0.5s;
}

.icons i:hover {
  color: blue;
}



/* menu */
.menu-nav {
  position: absolute;
  top: 50px;
  left: 500px;
  z-index: 50;
}


.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  padding: 20px;
  box-sizing: border-box;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + .menu {
  display: block;
}

#menu-icon {
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
}

#menu-icon img {
  width: 24px;
  height: 24px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}